@import './font.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --shadow: 0 2px 12px 0 rgb(48 50 51 / 10%);
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
}

[data-theme='light'] {
  --bg-color: hsl(0, 0%, 98%);
  --elements-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
}

[data-theme='dark'] {
  --bg-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-weight: 300;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-in;
}
