.loader {
  width: 80px;
  height: 80px;
  color: var(--text-color);
  animation: spin 0.5s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
