.header {
  padding: 20px;
  font-size: var(--font-size-xl);
  font-weight: 700;
  background-color: var(--elements-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in;
  box-shadow: 0 2px 12px 0 rgb(48 50 51 / 10%);
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
}

.title {
  margin: 0;
  font-size: 22px;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}
