.card {
  width: 100%;
  max-width: 320px;
  background-color: var(--elements-color);
  box-shadow: var(--shadow);
}

.img {
  height: 160px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.info {
  color: var(--text-color);
  padding: 20px;
  display: grid;
  row-gap: 5px;
  grid-auto-rows: auto;
}

.countryName {
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin-bottom: 10px;
}

.category {
  font-weight: 600;
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
}
